*{
    margin: 0;
    padding: 0;
}

#imagemTopo {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 10px solid rgba(210, 210, 210, 0.9);
}

#logo {
    width: 100%;
    max-width: 150px;
}

#collapse {
    margin-top: 40px;
}

#invisiCard {
    padding: 0%;
}

#cabecalho,
#rodape {
    margin-bottom: 40px;
    text-align: center;
}

.capitulo { 
    margin-top: 40px;
    text-align: justify;
}

.tituloCapitulo {
    margin-bottom: 20px;
    text-align: center;
}

#rodapeT1 {
    margin-top: 60px;
}

#rodapeT2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.incisoContainer,
.obrigacaoContainer {
    margin-left: 40px;
}

@media screen and (max-width: 780px) {

    #cabecalho, #introducao, .capitulo {
        margin-left: 60px;
    }

}

@media screen and (max-width: 452px) {
    
    #cabecalho, #introducao, .capitulo {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #sumario {
        display: none;
    }

}

@media screen and (max-height: 320px) {
    
    #cabecalho, #introducao, .capitulo {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #sumario {
        display: none;
    }

}
