* {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.97) 0%, rgb(20, 20, 20, 0.93) 100%), url("logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: center;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

#sumario {
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 45px;
    width: 120px;
    margin-left: -28px;
    position: fixed;
    
}

#navSumario {
    height: 25vh;
    overflow-y: auto;
    scrollbar-width: 20px;
    min-height: 132px;
}

#navSumario::-webkit-scrollbar {
    background-color: antiquewhite;
    width: 4px;
}

#navSumario::-webkit-scrollbar-thumb {
    background-color: gray;
}

.itemSumario {
    list-style: none;
    margin-left: 10px;
    font-size: 16px;
}

#navSumario a:link, #navSumario a:visited {
    text-decoration: none;
    color: aliceblue;
}

#corpo {
    margin-left: 25%;
}

.cabecalho {
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

#logoCabecalho {
    align-self: center;
    width: 56%;
}

.conteudo {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#introducao {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.tituloCapitulo {
    margin-top: 40px;
    text-align: center;
}

.artigo {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.inciso, .obrigacao {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.rodape {
    margin-left: 5%;
    margin-right: 5%;
}

#rodapeT1 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: justify;
}

#rodapeT2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#rodapeT3 {
    margin: 60px;
    text-align: center;
}

#liAceito:link, #liAceito:visited {
    text-decoration: none;
    color: rgba(0, 255, 255);
}
