* {
    margin: 0;
    padding: 0;
}

/*---------------- Corpo da página ----------------*/
body {
    background-color: #faffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: center;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
}

/*---------------- Corpo do Documento ----------------*/
#corpo {
    padding-left: 10vw;
    padding-right: 10vw;
}

/*---------------- Cabecalho do documento ----------------*/
#cabecalho {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*---------------- Conteúdo do Documento ----------------*/
.conteudo {
    margin-left: auto;
    margin-right: auto;
}

/*---------------- Sessões do Documento ----------------*/
#introducao {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.tituloCapitulo {
    margin-top: 80px;
    text-align: center;
}

.artigo {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.inciso, .obrigacao {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

/*---------------- Termo de Concordância ----------------*/
.rodape {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#rodapeT1 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: justify;
}

#rodapeT2 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    
    #conteudo, #cabecalho {
        margin-left: 40px;
        margin-right: -60px;
    }

}

@media screen and (max-width: 550px) {
    
    #conteudo, #cabecalho {
        margin-left: 60px;
        margin-right: -60px;
    }

}

@media screen and (max-width: 450px) {
    
    #conteudo, #cabecalho {
        margin-left: auto;
        margin-right: auto;
    }
    
    #sumario {
        display: none;
    }

}

@media screen and (max-height: 480px) {
    
    #containerSumario {
        margin-top: -50px;
    }
    
}

@media screen and (max-height: 320px) {
    
    #conteudo, #cabecalho {
        margin-left: auto;
        margin-right: auto;
    }
    
    #sumario {
        display: none;
    }

}
